.project-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-heading{
    writing-mode: vertical-lr;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: .2rem;
    padding: 2vh;
    margin: 3vh;
    background-color: rgb(128, 221, 245);
    color: rgb(255, 255, 255);
    max-width: 10%;
}
.project{
    display: flex;
    justify-content: space-evenly;
    min-width: 80%;
}
.project-card{
    width: 30vh;
    height: 30vh;
    border: 3px solid rgb(128, 221, 245);
    margin: 3vh;
    text-align: center;
}

@media screen and (max-width:860px){

    .project-main{
        width: 100%;
    }
    .project-heading{
        writing-mode: vertical-lr;
        text-align: center;
    }

    .project{
        flex-flow: column;
        align-items: center;
    }    
}   