.contact-main{
    width: 100%;
    background-color: rgb(128, 221, 245);
    color: white;
}
.contact-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin: 2vh;
}

.contact-icons{
    display: flex;
    justify-content: space-around;
    margin: 4vh;
}

.contact-icon {
    font-size: 2rem;
}